<!DOCTYPE html>
<html>
  <head>
    <title>特色农产品欢迎你</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>特色农产品欢迎你</h1>
    <p>Welcome to 特色农产品欢迎你</p>
      <p>网站正在建设中，请稍等.................</p>
  </body>
</html>
